{% extends 'GeekhubMainBundle::layout.html.twig' %}

{% block content %}
    <a href="{{ path('post_create') }}">Add post</a>
    <h1>Posts</h1>

    <small>Total posts: {{ posts|length }}</small>

    <div id="posts">
        {% for post in posts %}
            <div id="post">
                <h3>{{ post.title }}</h3>

                <p>{{ post.content }}</p>

                <p>Created at: {{ post.createdAt|date }}</p>

                <p>Updated at:{{ post.updatedAt|date }}</p>

                <a href="{{ path('show_post', {'slug_title' : post.slugTitle}) }}">Read more</a>

                <small>Total comments: {{ post.comments|length }}</small>
            </div>
        {% endfor %}
    </div>

{% endblock %}
